div {
    margin: 20px auto;
    width: 300px;
    font-weight: bold;
    font-size: 1rem;
    padding: 20px;
    background-color:#EEE; 
    color: black;
}
.one{
    background-color:rgb(238, 238, 238 ,.1); 

}
.two{
    opacity: .1;
}

