.one{
    padding: 10px;
    width: 400px;
    background-color: #EEE ;

}

.two{
    padding: 10px;
    width: 400px;
    background-color: #EEE ;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    

}