div{
    width: 400px;
    text-align: center;
    padding: 10px;
    position: relative;
    background-color: #EEE;
    margin: 20px auto;
    border:2px solid ;
    border-color: red blue;
}
.top-left{

    
}

.top-righ
}

.bottom-right{

}

.bottom-left{

}