div{
    text-align: center;

}
.one{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:300;
    font-style: italic;
    text-align: inherit;

}

.two{
    font-family: "Cairo", sans-serif;
    font-weight: 700;
    text-align: inherit;

}
.three{
    font-family: "Jomhuria", serif;
    font-weight: 400;
    text-align: inherit;
}