<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="key words" content="IEEE, Design ,Hello world , ZSB">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/CSS/Task 6/Template/Template.css">    
<title>IEEE CS ZSB</title>
</head>
<body>
    <div class="overlay"></div>
    <header>
        <ul>
            <li>CONTACT</li>
            <li>PRICING</li>
            <li>ABOUT</li>
            <li>PORTFOLIO</li>
            <li>SERVICES</li>
            <li class="home">HOME</li>

        </ul>
    </header>
    <main>
        <div class="main"><p><div class="title">IEEE CS ZSB <br> HELLO WORLD <br></div>Curabitur arcu erat,accumsan id imperdiet et,
        porttitor at sem. <br> Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. 
        Curabitur <br>aliquet quam. Accumsan id imperdiet et,porttitorat sem.Mauris <br>blandit aliquet elit, eget tincidunt</p></div>
    <p class="ieee">IEEE</p>
    </main>
    
</body>
</html>