p {
    background-color: #EEE;
    width: 400px;
    padding: 20px;
    margin:20px auto;
    position: relative;
    border-left:5px solid rgb(255, 0, 119);
}
p::before{
    content: attr(data-person);
    position: absolute;
    padding: 20px;
    left:-130px;
    width: 50px;
    top:0px;
}
p::after{
    content: " ";
    position: absolute;
    border:15px solid;
    border-color: transparent rgb(255, 0, 119) transparent transparent;
    left:-33px;
    top:15px
}